In [21]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,accuracy_score

In [2]:
df=pd.read_csv('dataset.csv')

In [4]:
df=df.drop('User ID',axis=1)

In [5]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [6]:
real_x=df[['Age','EstimatedSalary','Gender']]

In [8]:
real_x=real_x.to_numpy()

In [10]:
le=LabelEncoder()
real_x[:,2]=le.fit_transform(real_x[:,2])

In [12]:
real_y=df["Purchased"].to_numpy()

In [13]:
sc=StandardScaler()

In [14]:
real_x=sc.fit_transform(real_x)

In [16]:
training_x,testing_x,tarining_y,testing_y=train_test_split(real_x,real_y,test_size=0.3,random_state=0)

In [18]:
classifier=SVC(kernel='linear',random_state=0)

In [19]:
classifier.fit(training_x,tarining_y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [20]:
pred_y=classifier.predict(testing_x)

In [23]:
matrix=confusion_matrix(testing_y,pred_y)
matrix

array([[76,  3],
       [13, 28]])

In [24]:
score=accuracy_score(testing_y,pred_y)
score

0.8666666666666667